services:
  weather_app:
    build: .
    container_name: weather_app
    stdin_open: true
    tty: true
    volumes:
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONIOENCODING=utf-8
    restart: "no"